<div ng-include="'components/navbar/navbar2.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-lg-offset-2 col-lg-8 details-form">
            <h3 style="color:#008855">Final Job Description </h3>

            <form class="form" name="form" novalidate>
                <br>

                <div >
                    <table class="table table-bordered table-responsive">
                        <tr class="text-center" style="background-color: #449d44">
                            <td>
                                <b>Customer Request</b>
                            </td>
                            <td>
                                <b>Customer Name</b>
                            </td>
                            <td>
                                <b>Assigned Plumbers</b>
                            </td>
                        </tr>
                        <tr class="text-center" ng-model="list" ng-repeat="(cust,jobs) in assignedPlumberMap">
                            <td><a href="#" ng-click="open()"> {{cust}}</a> </td>
                            <td>{{custReqNameMap[cust].firstName}}</td>
                            <td>
                                <span ng-repeat="job in jobs">
                                    {{job.firstName }} <br>
                                    <span ng-hide="$last">
                                    </span>
                                </span>
                            </td>
                        </tr>

                    </table>
                    <div ng-show="isOpen">
                        <script type="text/ng-template" id="myModalContent.html">

                            <br>
                                <h3 class="text-center" style="color: green">Customer-Plumber Details:</h3>

                            <div class="modal-body">
                                <form name="form" novalidate>
                                    <ul ng-model="list" ng-repeat="(cust,jobs) in assignedPlumberMap">
                                        <li><b>Customer Id :</b> {{cust}} </li>
                                        <li><b>Customer Name :</b> {{custReqNameMap[cust].customerName}}</li>
                                        <li><b>Customer Address :</b> {{custReqNameMap[cust].address}}</li>
                                        <li><b>Customer Phone Number :</b> {{custReqNameMap[cust].mobileNo}}</li>
                                        <li><b>Assigned Plumbers :</b></li>
                                        <ul ng-repeat="job in jobs">
                                             <li>{{job.firstName }} <br>
                                            <span ng-hide="$last">
                                            </span>
                                            </li>
                                         </ul>
                                        <li><b>Job Description :</b> {{custReqNameMap[cust].description}}</li>
                                    </ul>
                                </form>
                            </div>
                            <button class="btn btn-primary center-block" type="button"  ng-click="ok()">OK</button>
                            <br>
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
