<div ng-include="'components/navbar/navbar2.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-lg-offset-2 col-lg-8 details-form">
            <h3 style="color:#008855">Final Job Description </h3>

            <form class="form" name="form" novalidate>
                <br>

                <div >
                    <table class="table table-bordered table-responsive">
                        <tr class="text-center" style="background-color: #449d44">
                            <td>
                                <b>Customer Request</b>
                            </td>
                            <td>
                                <b>Customer Name</b>
                            </td>
                            <td>
                                <b>Plumbers</b>
                            </td>
                        </tr>
                        <tr class="text-center" ng-model="list" ng-repeat="(cust,jobs) in assignedPlumberMap">
                            <td>{{cust}}</td>
                            <td>{{custReqNameMap[cust]}}</td>
                            <td>
                                <span ng-repeat="job in jobs">
                                    {{job.firstName }} <br>
                                    <span ng-hide="$last">
                                    </span>
                                </span>
                            </td>
                        </tr>

                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
