<div ng-include="'components/navbar/navbar2.html'"></div>
<div class="container-fluid">
    <div class="row"
         ng-style="{'background-image':'url(assets/images/peninsula.jpg)','margin-top':'-25px','background-size':'100% auto','height':'700px'}">
        <div class="col-md-4 col-md-offset-4" style="background-color:white;margin-top: 100px;border:1px solid black">
            <h3 style="color:#008855">Final Job Description </h3>

            <form class="form" name="form" novalidate>
                <br>

                <div class="scrollit">
                    <table class="table table-bordered table-responsive">
                        <tr class="text-center" style="background-color: #449d44">
                            <td>
                                <b>Customer Request</b>
                            </td>
                            <td>
                                <b>Customer Name</b>
                            </td>
                            <td>
                                <b>Plumbers</b>
                            </td>
                        </tr>
                        <tr ng-model="list" ng-repeat="(cust,jobs) in assignedPlumberMap">
                            <td>{{cust}}</td>
                            <td>{{custReqNameMap[cust]}}</td>
                            <td>
                                <span ng-repeat="job in jobs">
                                    {{job.firstName}}
                                    <span ng-hide="$last">
                                        ,
                                    </span>
                                </span>
                            </td>
                        </tr>

                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <img src="assets/images/updated.png">
    </div>
</div>
