<div ng-include="'components/navbar/navbar2.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-md-offset-2 details-form">
            <h3 style="color:#008855">Job Details </h3>

            <form class="form" name="form" novalidate>
                <!-- <select ng-model="menu"
                         style="margin-left: 350px; background-color: #28a4c9; color: white; box-sizing: border-box; font-size: medium">
                     <option value="active" style="color: white">Active</option>
                     <option value="completed" style="color: white">Completed</option>
                     <option value="inProgress" style="color: white">In-Progress</option>
                 </select>
                 <br><br><br>-->
                <div class="scrollit">
                    <table class="table table-bordered table-responsive">
                        <tr class="text-center" style="background-color: #449d44">
                            <td>
                                <b>Customer Request</b>
                            </td>
                            <td>
                                <b>Customer Detail</b>
                            </td>
                            <td>
                                <b>Assigned Plumbers</b>
                            </td>
                            <td>
                                <b>Total Count</b>
                            </td>
                        </tr>
                        <tr ng-repeat="(cust,jobs) in assignedPlumberMap">
                            <td>{{cust}}</td>
                            <td><a href="#" ng-click="showMap(cust,custReqAddressMap[cust])">
                                <h4>{{custReqNameMap[cust]}}</h4>{{custReqDescriptionMap[cust]}}
                            </a>
                            </td>
                            <td>
                                <span ng-repeat="job in jobs | filter:{firstName:'!null'}">
                                    {{job.firstName}}
                                    <span ng-hide="$last">
                                        ,
                                    </span>
                                </span>
                            </td>
                                <td>
                                <span ng-repeat="job in jobs">
                                    <span ng-if = "(job.plumberId > 0) && ($index == 0)">
                                   {{jobs.length}}
                                     </span>
                                    <span ng-if = "job.plumberId == null">
                                        {{0}}
                                    </span>

                                </span>
                                </td>
                               <td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
