
.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}
.navbar-inverse{
  background-color: rgb(54,72,94);

}

.login-form{
  background-color:white;
  margin-top: 100px;
  border:1px solid black;
  margin-bottom: 100px;
}

.help-block{
    color: red;
}