<div ng-include="'components/navbar/navbar2.html'"></div>

<div class="container-fluid">
  <div id="mains" class="row">
    <div class="col-md-8 col-md-offset-2 login-form" >
      <form class="form" name="form" ng-submit="signup()" novalidate>
        <div class="panel panels">
          <div class="panel-body">
            <div class="row">
              <!-- left side column-->
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12"><h4 class="text-info textInfo"> Add New Admin</h4>
                    <div class="form-group" ng-class="{ 'has-success': form.email.$valid && form.email.$dirty,
                    'has-error': form.email.$invalid && form.email.$dirty }">
                    <label class="labels">Email</label>

                    <input type="email" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/"
                    ng-blur="visited = true" placeholder="someone@example.com" name="email" class="form-control formControl"
                    ng-model="user.userName"
                    required/>

                    <p class="help-block helpBlock" ng-show="form.email.$error.email && form.email.$dirty && visited">
                      Please enter a valid Email address.
                    </p>

                    <p class="helpBlock" ng-show="form.email.$error.required && form.email.$dirty && visited">
                      Email address required.
                    </p>
                  </div>
                  <div class="form-group" ng-class="{ 'has-success': form.contact.$valid && form.contact.$dirty,
                    'has-error': form.contact.$invalid && form.contact.$dirty }">

                    <label class="labels">Phone</label>

                    <input type="text" class="form-control formControl" name="contact" ng-model="user.mobileNo" required
                    ng-blur="visitedContact = true" ng-pattern="/^[+]?[0-9]{10}$/">

                    <p class="helpBlock" ng-show="form.contact.$error.pattern && form.contact.$dirty && visitedContact">
                      Please enter valid contanct number.
                    </p>

                    <p class="helpBlock" ng-show="form.contact.$error.required && form.contact.$dirty && visitedContact">
                      Contact number required.
                    </p>

                  </div>
                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && form.password.$dirty,
                'has-error': form.password.$invalid && form.password.$dirty }">
                <label class="labels">Password</label>
                <input type="password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/"
                ng-blur="visitedPassword = true" name="password" class="form-control formControl" ng-model="user.password"
                required/>

                <p class="helpBlock" ng-show="form.password.$error.pattern && form.password.$dirty && visitedPassword">
                  Please enter a valid password.
                </p>

                <p class="helpBlock" ng-show="form.password.$error.required && form.password.$dirty && visitedPassword">
                  Password is required.
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && form.confirmPassword.$dirty,
              'has-error': form.confirmPassword.$invalid && form.confirmPassword.$dirty }">
              <label class="labels">Confirm Password</label>
              <input type="password" name="confirmPassword" class="form-control formControl"
              ng-blur="visitedConfirm = true" ng-model="user.confirmPassword"
              required compare-to="user.password"/>

              <p class="helpBlock"
              ng-show="form.confirmPassword.$error.compareTo && form.confirmPassword.$dirty && visitedConfirm">
              Password didn't match.
            </p>

            <p class="helpBlock" ng-show="form.confirmPassword.$error.required && form.confirmPassword.$dirty && visitedConfirm">
              Re-enter your password.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- right side column
  -->
  <div class="col-sm-6">
    <div class="row">
    <div class="col-sm-12"><h4>&nbsp;</h4>
      <div class="form-group" ng-class="{'has-success': form.firstname.$valid && form.firstname.$dirty,
      'has-error': form.firstname.$invalid && form.firstname.$dirty }">
      <label class="labels">First Name</label>
      <input type="text" name="firstname" ng-blur="visitedFirstName = true" class="form-control formControl" ng-model="user.firstName" required>

      <p class="helpBlock" ng-show="form.firstname.$error.required && form.firstname.$dirty && visitedFirstName">
        Please enter First Name.
      </p>
    </div>

    <div class="form-group" ng-class="{'has-success': form.lastname.$valid && form.lastname.$dirty,
    'has-error': form.lastname.$invalid && form.lastname.$dirty }">
    <label class="labels">Last Name</label>
    <input type="text" name="lastname" ng-blur="visitedLastName = true" class="form-control formControl" ng-model="user.lastName" required>

    <p class="helpBlock" ng-show="form.lastname.$error.required && form.lastname.$dirty && visitedLastName">
      Please enter Last Name.
    </p>
  </div>
  <div class="form-group" ng-class="{ 'has-success': form.address.$valid && form.address.$dirty,
  'has-error': form.address.$invalid && form.address.$dirty }">
  <label class="labels">Address</label>
  <textarea rows="5" ng-change="computeCoordinates()" class="form-control formControl"
  ng-blur="visitedAddress=true"
  name="address"
  ng-model="user.address" required></textarea>

  <p class="helpBlock"
  ng-show="form.address.$error.required && form.address.$dirty && visitedAddress">
  Please enter valid address.
</p>
</div>
<div class="form-group">
  <button class="btn btn-primary  btn-login btnPage" type="submit" ng-disabled="form.$invalid"
  analytics-on="click" analytics-category="AddAdmin" analytics-event="AddAdmin"
  analytics-label="Add Admin Information"> Save
</button>
</div>
</div>
</div>
</div>
</div>
</div>
 </div>
</form>
</div>
</div>
</div>
