.labels {
    font-weight:normal;
    color:#999999;
    margin: 0 -5px;
}

.helpBlock{
    color:#ff0043;
}

.textInfo {
  font-weight:normal;
  color:#1a75c1;
}

.panels {
  border-width: 2px;
  border-color: lightgray;
}

.formControl {
  border-radius: 10px;
  padding: 3px 10px;
  height: 25pt;
  margin: 0 -5px;
}

.btnPage {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px;
  background-color: #669933;
  border-color: #669933;
  float:right;
  font-size: 10pt;
  width: 200px;

}
