<div ng-include="'components/navbar/navbar2.html'"></div>
<div class="container-fluid">
    <div class="row" style="margin-top: -18px">
        <div class="col-md-4 form-group">
            <h4>Register a new call</h4>
            <!--<md-divider></md-divider>-->
            <br/>

            <form class="form" name="form" ng-submit="signup()" novalidate>

                <div class="form-group" class="divCust">
                    <p style="font-family: 'Open Sans', sans-serif;color:#9999A9"><strong>{{job.customerName}}</strong></p>
                    <h5 style="margin-top:-5px;">{{job.address}}</h5>
                    <h5 style="margin-top:-5px;">+{{91}} {{job.mobileNo}}</h5>
                </div>
                <md-divider class="divider"></md-divider>
                <div class="form-group"
                     ng-class="{'has-success': form.address.$valid && form.address.$dirty,
                                            'has-error': form.address.$invalid && form.address.$dirty }">


                    <table style="width: 100%;">
                        <tr>
                            <td class="text-left">
                                <label style="color:#9999A9" ng-show="showAddIssue || !job.issues || job.issues.length ===0"><h5>Enter
                                    Issue</h5></label>
                                <label style="color:#9999A9" ng-show="job.issues.length > 0 && !showAddIssue" class="text-left"><h5>Select
                                    Issue</h5></label>
                            </td>
                            <td class="text-right">
                                <a ng-show="job.issues.length > 0" class="btn btn-link btn-sm"
                                   ng-click="addNewIssue()">
                                    <span ng-show="!showAddIssue">or Add New</span>

                                    <span ng-show="showAddIssue">or Select</span>
                                </a>
                            </td>
                        </tr>
                    </table>


                     <textarea ng-show="showAddIssue || !job.issues|| job.issues.length ===0" class="form-control"
                               ng-model="newJob.issues" name="issue"
                               rows="3" required></textarea>

                    <p class="help-block"
                       ng-show="form.issue.$error.required && form.issue.$dirty ">
                        Please enter issue
                    </p>

                    <md-list style="margin-left: -15px" class="list-max-height registerCall" ng-show="!showAddIssue && job.issues.length > 0">
                        <md-list-item ng-click="issueSelected(issue)"
                                      ng-class="{'addressSelected':isIssueSelected(issue)}"
                                      class="md-3-line md-list-item-job"
                                      ng-repeat="issue in job.issues track by $index">
                            <div class="md-list-item-text">
                                <p>{{issue}}</p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>

                    </md-list>

                </div>
                <div class="form-group">
                    <label class="text-muted"><input type="checkbox" class="pull-left" ng-model="urgentFlag" ng-true-value="1"
                           ng-false-value="0">&nbsp Mark as priority</label>
                    <button ng-show="showAddIssue"
                            class="btn btn-success pull-right" ng-click="assignNewJob()" analytics-on="click"
                            analytics-category="AddRequest" analytics-event="AddRequest"
                            analytics-label="Add Customer Information"> Save & Assign
                    </button>
                    <button ng-show="!showAddIssue"
                            class="btn btn-success pull-right" ng-click="assignNewJob()" analytics-on="click"
                            analytics-category="AddRequest" analytics-event="AddRequest"
                            analytics-label="Add Customer Information"> Save & Assign
                    </button>
                        <button style="margin-right: 5px" class="btn btn-danger pull-right" ng-click="cancel()"> Cancel
                        </button>
                </div>

            </form>

        </div>
        <div class="col-md-8 no-padding">
            <div id="map" set-height></div>
        </div>
    </div>
</div>
