<div ng-include="'components/navbar/navbar2.html'"></div>

<div class="container-fluid">
    <div class="row" style="margin-top: -18px" set-height>
        <div class="col-sm-4">
            <!--<nav class="navbar navbar-default navbar-static-top" style="padding-left: 10px;margin-top: -20px"
                 ng-controller="NavbarCtrl">
                <div class="navbar-header">
                    <h4 style="color:#6D5960;text-align: center">Register a new call</h4>
                </div>
            </nav>-->
            <h4>Register a new call</h4>
            <md-divider></md-divider>

            <form class="form" name="form" ng-submit="signup()" novalidate>

                <div class="form-group push-down-1" ng-class="{ 'has-success': form.contact.$valid && form.contact.$dirty,
                                            'has-error': form.contact.$invalid && form.contact.$dirty }">
                    <span class="text-muted">Contact Number</span>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">+91</span>
                        <input type="text" ng-model="customer.mobileNo" name="contact"
                               ng-change="getJobDetails(customer.mobileNo)" class="form-control" placeholder="Contact No"
                               ng-pattern="/^[+]?[0-9]{10}$/" aria-describedby="basic-addon1" required>
                    </div>
                    <p class="help-block"
                       ng-show="form.contact.$error.required && form.contact.$dirty">
                        Contact number required!
                    </p>

                    <p class="help-block"
                       ng-show="form.contact.$error.pattern && form.contact.$dirty ">
                        Invalid contact number!
                    </p>


                </div>

                <div class="form-group" ng-show="form.contact.$valid"
                     ng-class="{'has-success': form.firstname.$valid && form.firstname.$dirty,
                                            'has-error': form.firstname.$invalid && form.firstname.$dirty }">
                    <span class="text-muted">Name</span>
                    <input type="text" name="firstname" ng-blur="visitedFirstName = true" class="form-control"
                           ng-model="customer.customerName" required>

                    <p class="help-block"
                       ng-show="form.firstname.$error.required && form.firstname.$dirty ">
                        Please enter customer name
                    </p>

                </div>

                <div class="form-group" ng-show="form.contact.$valid"
                     ng-class="{'has-success': form.address.$valid && form.address.$dirty,
                                            'has-error': form.address.$invalid && form.address.$dirty }">


                    <table style="width: 100%;">
                        <tr>
                            <td class="text-left">
                                <span class="text-muted" ng-show="showAddAddress || !jobs || jobs.length ===0">Enter Address</span>
                                <span class="text-muted" style="color:#9999A9" ng-show="jobs.length > 0 && !showAddAddress" class="text-left">Select
                                    Address</span>
                            </td>
                            <td class="text-right">
                                <a ng-show="jobs.length > 0" class="btn btn-link btn-sm"
                                   ng-click="showAddAddress=!showAddAddress">
                                    <span class="text-primary" ng-show="!showAddAddress">or Add New</span>

                                    <span class="text-primary" ng-show="showAddAddress">or Select</span>
                                </a>
                            </td>
                        </tr>
                    </table>


                     <textarea ng-show="showAddAddress || !jobs || jobs.length ===0" class="form-control"
                               ng-model="request.address" ng-change="computeCoordinates(request)" name="address"
                               rows="3" required></textarea>

                    <p class="help-block"
                       ng-show="form.address.$error.required && form.address.$dirty ">
                        Please enter address
                    </p>

                    <md-list class="list-max-height registerCall" ng-show="!showAddAddress && jobs.length > 0">
                        <md-list-item ng-click="jobSelected(job)"  ng-class="{'addressSelected':isSelected(job)}" class="md-3-line md-list-item-job"
                                      ng-repeat="job in jobs">
                            <div class="md-list-item-text">
                                <p>{{job.address}}</p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>

                    </md-list>

                </div>
                <div class="form-group">
                    <button ng-show=" form.contact.$valid"
                            class="btn btn-success pull-right" ng-click="ok()"> Next
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm-8 no-padding">
            <div id="map" set-height></div>
        </div>
    </div>
</div>
