<div ng-include="'components/navbar/navbar2.html'"></div>

<div class="container-fluid">
    <div id="mains" class="row">

        <div class="col-md-4 col-md-offset-4 details-form">
            <h3 style="color:#008855">Customer Request </h3>

            <form class="form" name="form" ng-submit="custreq()" novalidate>
                <div class="form-group" ng-class="{ 'has-success': form.customerName.$valid && form.customerName.$dirty,
                                            'has-error': form.customerName.$invalid && form.customerName.$dirty }">
                    <label> Customer name </label>
                    <input type="text" name="customerName" class="form-control" ng-model="user.customerName" required>

                    <p class="help-block" ng-show="form.customerName.$error.required && form.customerName.$dirty">
                        Please enter customer name
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.address.$valid && form.address.$dirty,
                                            'has-error': form.address.$invalid && form.address.$dirty }">
                    <label> Address</label>
                    <textarea rows="4" ng-change="computeCoordinates()" class="form-control" name="address"
                              ng-model="user.address" required></textarea>


                    <p class="help-block" ng-show="form.address.$error.required && form.address.$dirty">
                        Please enter address
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.locality.$valid && form.locality.$dirty,
                                            'has-error': form.locality.$invalid && form.locality.$dirty }">
                    <label> Locality </label>
                    <input type="text" name="locality" class="form-control" ng-model="user.locality" required>

                    <p class="help-block" ng-show="form.locality.$error.required && form.locality.$dirty">
                        Please enter locality
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.contact.$valid && form.contact.$dirty,
                                            'has-error': form.contact.$invalid && form.contact.$dirty }">
                    <label>Contact number</label>

                    <input type="text" class="form-control" name="contact" ng-model="user.mobileNo" required
                           ng-pattern="/^[+]?[0-9]{10,13}$/">

                    <p class="help-block" ng-show="form.contact.$error.pattern && form.contact.$dirty ">
                        Invalid contact number!
                    </p>

                    <p class="help-block" ng-show="form.contact.$error.required && form.contact.$dirty">
                        Contact number required!
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.desc.$valid && form.desc.$dirty,
                                            'has-error': form.desc.$invalid && form.desc.$dirty }">
                    <label> Description </label>
                    <textarea rows="4" class="form-control" name="desc" ng-model="user.description" required></textarea>


                    <p class="help-block" ng-show="form.desc.$error.required && form.desc.$dirty">
                        Please enter an issue
                    </p>
                </div>

                <div class="form-group">
                    <label>Urgent</label>
                    <input type="radio" style="margin-left: 5px" name="yes" ng-model="user.urgentFlag" value="true"/>Yes
                    <input type="radio" style="margin-left: 5px" name="no" ng-model="user.urgentFlag" value="false"/>No
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"
                            ng-disabled="form.user.$dirty && form.user.$invalid ||
                         form.password.$dirty && form.password.$invalid" class="btn btn-primary">Submit
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">
            <img class="img-responsive" src="assets/images/updated.png">
        </div>
    </div>
</div>
