<div ng-include="'components/navbar/navbar2.html'"></div>
<nav class="navbar navbar-default navbar-static-top" style="padding-left: 10px;margin-top: -20px"
     ng-controller="NavbarCtrl">
    <div class="navbar-header">
        <h4 style="color:#6D5960;text-align: center">Register a new call</h4>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" style="margin-top: -18px">
        <div class="col-md-4" style="background-color: #f9f9f9">
            <form class="form" name="form" ng-submit="signup()" novalidate>

                <div class="form-group" ng-class="{ 'has-success': form.contact.$valid && form.contact.$dirty,
                                            'has-error': form.contact.$invalid && form.contact.$dirty }">
                    <label>Contact Number</label>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">+91</span>
                        <input type="text" ng-model="user.contact" name="contact"
                               ng-change="getJobDetails(user.contact)" class="form-control" placeholder="Contact No"
                               ng-pattern="/^[+]?[0-9]{10}$/" aria-describedby="basic-addon1">
                    </div>

                    <p class="help-block"
                       ng-show="form.contact.$error.pattern && form.contact.$dirty && visitedContact">
                        Invalid contact number!
                    </p>

                    <p class="help-block"
                       ng-show="form.contact.$error.required && form.contact.$dirty && visitedContact">
                        Contact number required!
                    </p>
                </div>

                <div class="form-group" ng-class="{'has-success': form.firstname.$valid && form.firstname.$dirty,
                                            'has-error': form.firstname.$invalid && form.firstname.$dirty }">
                    <label>Name</label>
                    <input type="text" name="firstname" ng-blur="visitedFirstName = true" class="form-control"
                           ng-model="customerName" required>

                    <p class="help-block"
                       ng-show="form.firstname.$error.required && form.firstname.$dirty && visitedFirstName">
                        Please enter user
                    </p>

                </div>
                <div ng-show="!!customerName">
                    <table style="width: 100%;margin-top: -20px;">
                        <tr>
                            <td class="text-left">
                                <p ng-show="!showAddAddress">Select Address</p>

                                <p ng-show="showAddAddress">Enter Address</p>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-link btn-sm" style="border: none"
                                   ng-click="showAddAddress=!showAddAddress">
                                    <p ng-show="!showAddAddress">or Add New</p>

                                    <p ng-show="showAddAddress">or Select</p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <md-content style="color: #f9f9f9">
                        <md-list ng-show="!showAddAddress">
                            <md-list-item ng-click="jobSelected(job)" class="md-3-line md-list-item-job"
                                          ng-repeat="job in jobs">
                                <div class="md-list-item-text">
                                    <h3><strong class="headerFont">{{job.address}}</strong></h3>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                            <button class="btn btn-success pull-right" ng-click="ok()">OK</button>
                        </md-list>
                        <md-list ng-show="showAddAddress">
                            <md-list-item class="md-3-line md-list-item-job"
                                          ng-repeat="job in jobs | limitTo:1">
                                <div>
                                <textarea class="form-control" ng-model="address" name="address"
                                          rows="3" required></textarea>
                                    <button class="btn btn-success pull-right" ng-click="new(job,address)">OK</button>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>

                </div>

                <!--  <div ng-show="showAddAddress" class="form-group" ng-class="{'has-success': form.address.$valid && form.address.$dirty,
                                              'has-error': form.address.$invalid && form.address.$dirty }">

                      <textarea class="form-control" ng-model="job.address" name="address" ng-blur="visitedAddress = true"
                                class="form-control"
                                rows="3" required></textarea>

                  </div>-->
            </form>
        </div>
        <div class="col-md-8">
            <div id="map" style="height:550px"></div>
        </div>
    </div>
</div>
