<div ng-include="'components/navbar/navbar2.html'"></div>

<div id="mains" class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
        <li class="list-group-item" ng-model="one" ng-click="changedValue(one)">{{one}}
          <span style="position:relative;display:inline-block;float:right">
            <i class="fa fa-star fa-2x text-right" style="color:#00c129;"></i>
            <span style="position:absolute; font-size:0.8em;color:#000e03;top:6px;left:11px;font-weight: bold;">1</span>
          </span>
        </li>
        <li class="list-group-item" ng-model="two" ng-click="changedValue(two)">{{two}}
          <span style="position:relative;display:inline-block;float:right">
            <i class="fa fa-star fa-2x text-right" style="color:  #7fcc88"></i>
            <span style="position:absolute; font-size:0.8em;color:#000e03;top:6px;left:11px;font-weight: bold;">2</span>
          </span>
        </li>
        <li class="list-group-item" ng-model="three" ng-click="changedValue(three)">{{three}}
          <span style="position:relative;display:inline-block;float:right">
              <i class="fa fa-star fa-2x text-right" style="color:  #b6d6b7"></i>
              <span style="position:absolute; font-size:0.8em;color:#000e03;top:6px;left:11px;font-weight: bold;">3</span>
          </span>
        </li>
        <li class="list-group-item " ng-click="changedValue(plumber)" ng-repeat="plumber in plumberNames">{{plumber}}</li>
    </div>

    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12"></div>

    <div class="container" style="position: absolute; left: 15em; width:100%;margin: 0 auto">
      <div class="col-lg-10 col-sm-10" id="pie-chart">
        <div class="panel panel-default">
          <div class="panel-body">
              <highchart config="chartConfig" class="span10"></highchart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
