<div ng-include="'components/navbar/navbar2.html'"></div>

<div id="mains" class="container-fluid">
    <div class="row">
            <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
            </div>
        <div class="col-md-4 col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <div>
                    <select style="width: 280px;" class="selectpicker" data-style="btn-primary" ng-model="plumberSelected" ng-change="changedValue(plumberSelected)"
                            data-ng-options="plumber for plumber in plumberNames">
                        <option value="">Select Plumber</option>
                    </select>
                </div>

            </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-7 col-xs-12 col-sm-12">
        </div>
    <div class="row">
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
        </div><br><br><br>
        <div class="col-md-4 col-lg-4 col-lg-offset-4">
            <div style="border:solid" ng-if="report.length > 0">
                <nvd3-pie-chart
                        data="report"
                        id="exampleId"
                        width="600"
                        height="450"
                        x="xFunction()"
                        y="yFunction()"
                        showLabels="true"
                        labelType="value"
                        showlegend="true"
                        tooltips="true">
                </nvd3-pie-chart>
            </div>
        </div>
        </div>
    </div>
</div>

