<nav class="navbar navbar-custom navbar-static-top" style="color:#000066" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-main"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="main" class="navbar-brand" style="font-size: 25px; color: white">Penninsula Plumbers</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color: rgb(240,99,99)" href="/signup">Sign up</a></li>
                <li><a style="color: rgb(240,99,99)" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>