<header>
  <nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container-fluid" style="background-color: black">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span  class="icon-bar"></span>
          <span  class="icon-bar"></span>
        </button>
        <a ui-sref="main" class="navbar-brand" style="font-size: 25px; color: white">Pune Plumbers</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a  href="/custreq">Customer Request</a></li>
          <li dropdown>
            <a href="#" dropdown-toggle>Job Details<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a  href="/main"><u>Assign Job</u></a></li>
              <li><a  href="/jobDetails"><u>View Job</u></a></li>
            </ul>
          </li>
          <li dropdown>
            <a href="#" dropdown-toggle>Reports<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a  href="/main"><u>Plumber Availability</u></a></li>
              <li><a  href="/plumberReport"><u>Plumber Performance</u></a></li>
              <li><a  href="/plumberFeedback"><u>Customer Satisfaction</u></a></li>
            </ul>
          </li>
          <li dropdown>
            <a href="#" dropdown-toggle>Settings<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a  href="/signup"><u>Add New Admin</u></a></li>
              <li><a  href="/addPlumber"><u>Add New Plumber</u></a></li>
	      <li><a  href="/main"><u>Notification</u></a></li>
            </ul>
          </li>
          <li><a  href="" ui-sref="login">Logout</a></li>
        </ul>

      </div>
      <div class="-adjust">
      </div>
      <div class="navbar-fixed-bottom" style="background-color: black">
        Copyrights
      </div>
    </div>
  </nav>
</header>

<!--

<li><a  href="/signup">Add Admin</a></li>
<li><a  href="/addPlumber" >Add Plumber</a></li>-->
