<header>
    <nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-collapse">
                    <span style="color: rgb(240,99,99)"class="icon-bar"></span>
                    <span style="color: rgb(240,99,99)" class="icon-bar"></span>
                    <span style="color: rgb(240,99,99)" class="icon-bar"></span>
                </button>
                <a ui-sref="main" class="navbar-brand" style="font-size: 25px; color: white">Penninsula Plumbers</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: rgb(240,99,99)" href="/custreq">Customer Request</a></li>
                    <li><a style="color: rgb(240,99,99)" href="/jobDetails">Job Details</a></li>
                    <li><a style="color: rgb(240,99,99)" href="/addPlumber" >Add Plumber</a></li>
                    <li><a style="color: rgb(240,99,99)" href="" ui-sref="login">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>