<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
    <div class="row"
         ng-style="{'background-image':'url(assets/images/peninsula.jpg)','margin-top':'-25px', 'backgroundSize' : '100%', 'height' :'700px'}">
        <div class="col-md-4 col-md-offset-4" style="margin-top:100px;background-color:white;border:1px solid black">
            <h3 style="color:#008855">Sign Up </h3>

            <form class="form" name="form" ng-submit="signup()" novalidate>

                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && form.email.$dirty,
                                            'has-error': form.email.$invalid && form.email.$dirty }">
                    <label>User Name</label>

                    <input type="email" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/"
                           placeholder="someone@example.com" name="email" class="form-control"
                           ng-model="user.username"
                           required/>

                    <p class="help-block" ng-show="form.email.$error.email && form.email.$dirty ">
                        Doesn't look like a valid email.
                    </p>

                    <p class="help-block" ng-show="form.email.$error.required && form.email.$dirty">
                        What's your email address?
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && form.password.$dirty,
                                            'has-error': form.password.$invalid && form.password.$dirty }">
                    <label>Password</label>
                    <input type="password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/"
                           name="password" class="form-control" ng-model="user.password"
                           required/>

                    <p class="help-block" ng-show="form.password.$error.pattern && form.password.$dirty ">
                        Doesn't look like a valid password.
                    </p>

                    <p class="help-block" ng-show="form.password.$error.required && form.password.$dirty">
                        Enter your password
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && form.confirmPassword.$dirty,
                                            'has-error': form.confirmPassword.$invalid && form.confirmPassword.$dirty }">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control"
                           ng-model="user.confirmPassword"
                           required compare-to="user.password"/>

                    <p class="help-block"
                       ng-show="form.confirmPassword.$error.compareTo && form.confirmPassword.$dirty ">
                        Password didn't match.
                    </p>

                    <p class="help-block" ng-show="form.confirmPassword.$error.required && form.confirmPassword.$dirty">
                        Re-enter your password.
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.contact.$valid && form.contact.$dirty,
                                            'has-error': form.contact.$invalid && form.contact.$dirty }">
                    <label>Phone</label>

                    <input type="text" class="form-control" name="contact" ng-model="user.mobileno" required
                           ng-pattern="/^[+]?[0-9]{10,13}$/">

                    <p class="help-block" ng-show="form.contact.$error.pattern && form.contact.$dirty ">
                        Invalid contact number!
                    </p>

                    <p class="help-block" ng-show="form.contact.$error.required && form.contact.$dirty">
                        Contact number required!
                    </p>
                </div>
                <div>
                    <button class="btn btn-primary  btn-login" type="submit">
                        Sign up
                    </button>
                </div>
                <br/>
            </form>
        </div>
    </div>

    <div class="row" style="text-align: center">
        <img  src="assets/images/updated.png">
    </div>
</div>
