body{background:#f4f4f4;}

#mains {
    /* background-image: url(/assets/images/pune.jpg);
 */
    background-size: cover;
    margin-top: 80px;
    background-repeat: no-repeat;
}

.md-default-theme > .md-list-item-job:first-child td {
    border-top: 0;
}

.plumber{
    box-shadow: 0 0 3px #dadada;
}

#pending {
    background-color: #ffaa00;
    font-size: 50px;
    padding: 38px;
    border-radius: 100%;
    width: 152px;
    height: 150px;
}

select {
    height: 30px;
    background-color: whitesmoke;
}

#assigned {
    background-color: #33c44e;
    font-size: 50px;
    padding: 38px;
    border-radius: 100%;
    width: 152px;
    height: 150px;
}


#completed {
    background-color: #e0e0e0;
    font-size: 50px;
    padding: 38px;
    border-radius: 100%;
    width: 152px;
    height: 150px;
    color: grey;
}

#dashboard.md-list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 520px;
}

.whiteDashboard {
    background-color: #FFFFFF;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{ background-color:#97C4C2}

.white {
    color: white;
}

.header {
    background-color: #006f69;
}

.backgroundMain {
    background-color: #f7f7f7;
}

.dashboard-middle-band {
    background-color: white;
    content: '';
}

* {
    font-family: 'Open Sans', sans-serif;
}

.dashboard-container {
    margin-top: -20px;
}

.dashboard-container .same-height {
    min-height: 100%;
}

.dashboard-container > .row > .col-sm-4 {
    padding-top: 21px; padding-left:0; padding-right:0;
}

.navbar-brand{
    color:cyan !important;
}

.toggle-visibility-hidden{
    visibility: hidden;
}
.no-padding{padding:0;}
.push-down-05{margin-top:0.5em}
.push-down-1{margin-top:1em}
.push-down-2{margin-top:2em}

.completeSpinner{
    display: inline-block;
    font-size: 0.7em;
    border-top-width: 1px;
    margin-left: 15px;
}

.registerCall{
    margin-left: -15px;
    width: calc(100% + 30px);
}
.pendingSpinner{
    display: inline-block;
    font-size: 0.7em;
    border-top-width: 1px;
    margin-left: 15px;
}

.assignedSpinner{
    display: inline-block;
    font-size: 0.7em;
    border-top-width: 1px;
    margin-left: 15px;
}

.toggle-visibility-show{
    visibility: visible;
}

.dashboard-badge-loader{
    position: absolute;
    left: 47%;
    top: 24%;
}

.dashboard-badge {
    margin: 0 auto;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    min-height: 160px;
    min-width: 160px;
    padding-top: 22px;
    text-align: center
}

.dashboard-list-number {
    width: 10%;
    font-size: 0.7em;
    padding-top: 12px !important;
}

.dashboard-table .headerFont {
    text-transform: capitalize;
}

.dashboard-table .md-list-item-text, .dashboard-table .subHeaderFont {
    padding: 0px !important
}

.dashboard-dropdown {
    left: 34%;
    left: calc(50% - 80px);
}

.form-control1 {
    margin-left: 10px;
}

.form-control2 {
    margin-left: 10px;
}

.form-control3 {
    margin-left: 10px;
}

.orange-badge {
    background-color: orange;
}

.green-badge {
    background-color: #33c44e;
}

.grey-badge {
    background-color: #e0e0e0;
    color: darkgrey
}

.dashboard-number {
    font-size: 5em;
    display: block;
    margin-bottom: -10px
}

.dashboard-label {
    display: block;
    font-size: medium;
}
