<div ng-include="'components/navbar/navbar2.html'"></div>
<div class="backgroundMain ">
    <div class="container-fluid dashboard-container" set-height-dashboard id="dashboard">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div>
                    <div class="dashboard-badge orange-badge">
                        <div class="dashboard-number">
                            {{pendingList.length}}
                        </div>
                        <div class="dashboard-label">
                            PENDING
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <select style="width: auto" class="form-control1" name="type" ng-model="duration"
                                ng-change="changedValueDurationPending(duration)" analytics-on="click"
                                analytics-category="SelectDuration" analytics-event="SelectDuration"
                                analytics-label="Select Duration">
                            <option ng-repeat="duration in durationList">{{duration}}</option>
                        </select>
                    </div>
                    <div ng-class="{'toggle-visibility-show':!pendingLoaded,'toggle-visibility-hidden':!!pendingLoaded || pendingList.length > 0}"
                         class="loader pendingSpinner">
                        <i class="fa fa-circle-o-notch fa-spin fa-2x pull-right"></i></div>
                    <br/>

                </div>
                <md-content class="customerBg max-height" max-height-dashboard>
                    <md-list>
                        <md-list-item class="md-3-line md-list-item-job"
                                      ng-repeat="plumber in pendingList">
                            <table class="table table-responsive dashboard-table">
                                <tr>
                                    <td class="text-center dashboard-list-number">
                                        <span class="text-muted">  {{$index+1}} </span>
                                    </td>
                                    <td class="text-left">
                                        <div class="md-list-item-text md-list-item-text">
                                            <div class="headerFont text-muted">{{plumber.customerName}}</div>
                                            <h6 class="subHeaderFont">{{plumber.address}}</h6>

                                            <div class="subHeaderFont">
                                                <i class="fa fa-mobile fa-fw">&nbsp;{{plumber.mobileNo}}</i></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </md-list-item>
                    </md-list>
                </md-content>
            </div>

            <div class="col-sm-4 text-center whiteDashboard">
                <div class="dashboard-badge green-badge">
                    <div class="dashboard-number">
                        {{assignedList.length}}
                    </div>
                    <div class="dashboard-label">
                        ASSIGNED
                    </div>
                </div>
                <br/>

                <div>
                    <select style="width: auto" class="form-control2" name="type2" ng-model="duration2"
                            ng-change="changedValueDurationAssigned(duration2)" analytics-on="click"
                            analytics-category="SelectDuration" analytics-event="SelectDuration"
                            analytics-label="Select Duration">
                        <option ng-repeat="duration in durationList">{{duration}}</option>
                    </select>
                </div>
                <div ng-class="{'toggle-visibility-show':!assignedLoaded,'toggle-visibility-hidden':!!assignedLoaded && assignedList.length > 0}"
                     class="loader assignedSpinner">
                    <i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>

                <br/>
                <md-content class="max-height" max-height-dashboard>
                    <md-list>
                        <md-list-item class="md-3-line md-list-item-job"
                                      ng-repeat="plumber in assignedList">
                            <table class="table table-responsive dashboard-table">
                                <tr>
                                    <td class="text-center dashboard-list-number">
                                        <span class="text-muted">  {{$index+1}} </span>
                                    </td>
                                    <td class="text-left">
                                        <div class="md-list-item-text  md-list-item-text">
                                            <div class="headerFont text-muted">{{plumber.customerName}}</div>
                                            <div class="subHeaderFont">{{plumber.address}}</div>

                                            <div class="subHeaderFont">
                                                <i class="fa fa-mobile fa-fw">&nbsp;{{plumber.mobileNo}}</i></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </md-list-item>
                    </md-list>
                </md-content>
            </div>


            <div class="col-sm-4 text-center">

                <div class="dashboard-badge grey-badge">
                    <div class="dashboard-number">
                        {{completedList.length}}
                    </div>
                    <div class="dashboard-label">
                        Completed
                    </div>
                </div>
                <br/>

                <div>
                    <select style="width: auto" class="form-control3" name="type" ng-model="duration3"
                            ng-change="changedValueDurationCompleted(duration3)" analytics-on="click"
                            analytics-category="SelectDuration" analytics-event="SelectDuration"
                            analytics-label="Select Duration">
                        <option ng-repeat="duration3 in durationList">{{duration3}}</option>
                    </select>
                </div>
                <div ng-class="{'toggle-visibility-show':!completeLoaded,'toggle-visibility-hidden':!!completeLoaded && completedList.length > 0}"
                     class="loader completeSpinner">
                    <i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
                <br/>
                <md-content class="customerBg max-height" max-height-dashboard>
                    <md-list>
                        <md-list-item class="md-3-line md-list-item-job"
                                      ng-repeat="plumber in completedList">
                            <table class="table table-responsive dashboard-table">
                                <tr>
                                    <td class="text-center dashboard-list-number">
                                        <span class="text-muted">  {{$index+1}} </span>
                                    </td>
                                    <td class="text-left">
                                        <div class="md-list-item-text  md-list-item-tex">
                                            <div class="headerFont text-muted">{{plumber.customerName}}</div>
                                            <h6 class="subHeaderFont">{{plumber.address}}</h6>

                                            <div class="subHeaderFont">
                                                <i class="fa fa-mobile fa-fw">&nbsp;{{plumber.mobileNo}}</i></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
</div>