.p
{
    background-color: #ff0;
    width: 10%;
    padding: 5px;
    margin: 1px;
}

.srch-term{
   width: 10px;
}



.ui-autocomplete {
    cursor:pointer;
    height:120px;
    overflow-y:scroll;
}

.plumberName{
    color:red;
}